<h1 class="page-header">CDs</h1>
<div class="btn-toolbar" role="toolbar" style="margin: 20px 0 30px;">
    <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-default sort-cd"><span class="glyphicon glyphicon-sort"></span></button>
    </div>
</div>

{{#cds}}
<div class="panel panel-default">
    <div class="panel-body">
        <div class="btn-group btn-group-sm" style="float: left; padding: 0 30px 0 0;">
            <button type="button" class="btn btn-default show-cd" data-id="{{id}}"><span class="glyphicon glyphicon-eye-open"></span></button>
            <button type="button" class="btn btn-default edit-cd" data-id="{{id}}"><span class="glyphicon glyphicon-edit"></span></button>
            <button type="button" class="btn btn-default delete-cd" data-id="{{id}}"><span class="glyphicon glyphicon-remove"></button>
        </div>
        <div style="line-height: 30px;">{{band}} - {{title}}</div>
    </div>
</div>
{{/cds}}